body {
  overflow-x: hidden;
}

#menuToggle p {
  display: inline-block;
  margin: 1px;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 95px;
  right: 40px;
  opacity: 0.8;
  z-index: 1;
}

#menuToggle #burgerbars {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

.borger {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 3px;
  position: relative;

  background: #eee;
  border-radius: 3px;
  border: 1px solid black;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle:hover {
  opacity: 1.0;
}

.borger:first-child
{
  transform-origin: 0% 0%;
}

.borger:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle #burgerbars:checked ~ .borger {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -2px);
  border: none;
  margin-bottom: 5px;
  /* background: #232323; */
}

#menuToggle #burgerbars:checked ~ .borger:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle #burgerbars:checked ~ .borger:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -0px);
}

#menu {
  position: fixed;
  width: 500px;
  margin: -75px 0 0 90px;
  padding: 25px;
  padding-top: 55px;
  padding-bottom: 37px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform: none;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  max-height: 80%;
  overflow-y: scroll;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle #burgerbars:checked ~ ul {
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#add_station {
  width: 23px;
  height: 23px;
}

#new_rx_div {
  position: relative;
  background: #d4d4d4;
  color: #111;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
}

.receiver, .aoi {
  position: relative;
  background: #d4d4d4;
  color: #111;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
}
.receiver span, .aoi span {
  display: block;
}

.edit-icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.add-icon {
  display: block;
  position: absolute;
  bottom: 7px;
  right: 5px;
  font-size: 23pt;
}

.aoi-rule-icon {
  display: block;
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: 23pt;
}

.delete-icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 30px;
}

.activate-icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 60px;
}

.edit-checkbox {
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it on top */
  width: 20px;
  height: 20px;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.menusections {
  position: relative;
  padding-bottom: 35px;
  /* border: 1px solid #CCC; */
  margin-top: 26px;
}
