body {
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace;
  background-color: #ecebeb;
}

input {
    margin: 3px;
}

h1, h2, h3, h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

p, ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

span {
  display: inline-block;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/static/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*.header li:last-child {
  border-right: none;
  border-left: 1px solid #bbb;
}*/

/* Change the link color to #111 (black) on hover */
.header a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.header {
  font-size: 18pt;
  font-family: 'Courier New', Courier, monospace;
}

.main_text {
  width: 80%;
  float: left;
  padding: 10px;
}


.navbar {
  overflow: hidden;
  background-color: #333;
}

/*.header a {
  display: block;
}*/

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  border-left: 1px solid #bbb;
}

/* Dropdown Button */
.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  border-left: 1px solid #bbb;
  font-family: 'Courier New', Courier, monospace;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /*position: relative;*/
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e4e1e1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ccc;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #111;}

.loader {
  border: 22px solid #e9e9e9; /* Light grey */
  border-top: 22px solid #101010; /* Dark Grey */
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 1.25s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -91px;
  margin-left: -91px;
  z-index: 0;
  visibility: hidden;
  opacity: 0.7;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Slider Stuff*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
  max-width: 600px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

  position: fixed;
  top: 10px;
  left: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#refreshbutton {
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  height: auto;
}

.slidespan {
  max-width: 40vw;
  width: 550px; /* Width of the outside container */
/*  padding-top: 10px;
  padding-bottom: 10px;*/
  vertical-align: middle;
}

.slidetitle {
  width: 170px;
  text-align: left;
}

.slidevalue {
  width: 40px;
  text-align: left;
  font-weight: bold;
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  vertical-align: middle;
  width: 100%;
  height: 25px; /* Specified height */
  background: #eee; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #333;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #333;
  cursor: pointer; /* Cursor on hover */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switchslider {
  background-color: #2196F3;
}

input:focus + .switchslider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switchslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchslider.round {
  border-radius: 34px;
}

.switchslider.round:before {
  border-radius: 50%;
}

.tooltip {
  position: relative;
  display: block;
  z-index: 1;
  opacity: 0.5;
  max-width: fit-content;
}

.tooltip:hover {
  opacity: 1.0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 380px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  left: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.cesium-viewer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    margin: 0;
}

#cesiumContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}
